form {
    margin: 0 auto;
    max-width: 400px;
    width: 90%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #383333;
    color: white;
    box-sizing: border-box;
}

form li{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    margin-bottom: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
    accent-color: #383333;
}

label {
    flex: 0 0 90px;
    text-align: right;
    margin-right: 10px;
}

input, textarea {
    font: 1em sans-serif;
    flex: 1 1 200px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
    background-color: black; 
    font-weight: bold;
}

input:focus, textarea:focus {
    border-color: #000;
    color: cyan;
}

textarea{
    vertical-align: top;
    height:5em;
    color: white;
}

input{
    color: white;
}

.button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-left: 0;
}

button {
    margin-left: 0.5em;
}

